<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFChannelTest2.Service">
        <host>
          <baseAddresses>
            <add baseAddress="redis://localhost:6379"/>
          </baseAddresses>
        </host>
        <endpoint address="Endoint" binding="customBinding" bindingConfiguration="MyCustomeBinding" contract="WCFChannelTest2.IServiceConctact"/>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="MyCustomBinding">
          <RedisMessageEncoderElement/>
          <RedisTransportElement/>
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="RedisTransportElement" type="RedisTransportChannel.RedisTransportBindingElementExtension, RedisTransportBindingElement"/>
        <add name="RedisMessageEncoderElement" type="RedisTransportChannel.RedisMessageBindingElementExtension, RedisMessageBindingElement"/>
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
</configuration>